.rItem {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font);
}

.item-pic {
  width: 12rem;
  height: 12rem;
  object-fit: scale-down;
}

.item-name {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 10px;
  text-align: center;
}

.rpoints {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 21px;
  color: var(--navy);
  padding-bottom: 1rem;
  word-break: break-all;
}

/* RItems Section starts here*/
.rItems-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}

.tabs-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  width: 100%;
  /* padding-left: 10rem; */
}

#tabs-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding-left: 10rem; */
}

.bloc-tabs {
  display: flex;
}

.bloc-tabs button {
  font-family: var(--heading-font);
  font-size: 1.5rem;
}

.tabs,
.item-tabs {
  padding: 10px 0;
  text-align: center;
  width: fit-content;
  background: var(--background);
  cursor: pointer;
  border-bottom: 2px solid var(--grey);
  box-sizing: content-box;
  position: relative;
  outline: none;
  border: none;
  color: var(--dark-grey);
  margin-right: 2rem;
  letter-spacing: 1px;
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
  color: var(--navy);
  font-weight: 600;
}

.active-tabs::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: var(--navy);
}

.content-tabs {
  flex-grow: 1;
  margin: 1rem 1.5rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  background: white;
  width: 100%;
  height: 100%;
  display: none;
  margin-top: 2rem;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
/* .content p {
    width: 100%;
    height: 100%;
  } */

.active-content {
  display: block;
}

.active-content {
  display: flex;
  flex-wrap: wrap;
}

.displayedItems {
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
}
