.rPoints-section {
    display: flex;
    flex-direction: column;
    font-family: var(--heading-font);
    background-color: var(--lighter-grey);
    height: fit-content;
    width: 12rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rPoints-section>p {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}


.rPoints-section>h2 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--navy);
}