.community-list-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.title {
    font-family: var(--heading-font);
    color: var(--navy);
    font-size: 1.5rem;
    padding-bottom: 1em;
}

.create-community-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
    width: 8em;
    height: 8em;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    border: 1px solid var(--dark-grey);
    cursor: pointer;
}

 .community-link p {
   text-align: center;
    font-family: var(--heading-font);
    font-size: 1em;
    font-weight: 500;
    color: var(--dark-grey);
}

.community-link {
    text-decoration: none;
    padding-top: 0.5em;
}


.joined-community {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-grey);
    width: 8em;
    height: 8em;
    border-radius: 10px;
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.16);
    margin-bottom: 2em;
}

.community-logo {
    width: 8em;
    height: 8em;
    border-radius: 10px;
    
}


