.posts-item-container {
    margin-top: 3em;
}

.post-item-types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.post-item-types h1 {
    color: var(--dark-grey);
    cursor: pointer;
    padding-bottom: 3px;
    margin-bottom: 1em;
}

.post-item-types h1:first-child {
    color: var(--navy);
    border-bottom: 4px solid var(--navy);
}

.post-item-section {
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: var(--lighter-grey);
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.vote-item-section {
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DDE2E5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 1em;
}

.vote-item-total {
    font-family: var(--heading-font);
    padding: 10px 0;
    font-weight: 600;
    color: var(--navy);
}

.content-item-section {
    width: 92%;
    padding: 1em 1.5em 0 1.5em;
    padding-bottom: 1rem;
}

.content-item-section-header, .icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--heading-font);
}

.icon, .icon label {
    cursor: pointer;
}

.username-item  {
    padding: 0 1.5rem 0 0.5rem;
    color: var(--navy);
    font-weight: 600;
}

.username-item:hover {
    text-decoration: underline;
}


.uploaded-item-time {
    color: var(--dark-grey);
}

.post-item-content {
    font-family: var(--body-font);
    padding-top: 0.5em;
    text-align: justify;
}

.post-item-image {
    width: 100%;
    margin-top: 1em;
}

.content-item-section-footer {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

.icon-item-label {
    padding: 0 1.5rem 0 0.5rem;
    color: var(--darker-grey);
}
