.newsfeed-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 8em;
}

.left-container {
    width: 15%;
    margin-left: 4rem;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 4rem;
}