.side-container-newsfeed {
    float: left;
    width: 20%;
    padding: 1rem;
}

.main-container-newsfeed {
    float: left;
    width: 60%;
    padding: 1rem;
}

.blank-newsfeed {
    float: left;
    width: 10%;
    padding: 1rem;
}