.newsfeed-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0rem 1rem 0rem;
}

.newsfeed-tabs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.newsfeed-bloc-tabs {
    display: flex;
    margin: 0;
}

.newsfeed-bloc-tabs button {
    font-family: var(--heading-font);
    font-size: 1.5rem;
}

.newsfeed-tabs {
    padding: 10px 0;
    text-align: center;
    width: fit-content;
    background: var(--background);
    cursor: pointer;
    border-bottom: 2px solid var(--grey);
    box-sizing: content-box;
    position: relative;
    outline: none;
    border: none;
    color: var(--dark-grey);
    margin-right: 2rem;
    letter-spacing: 1px;
}

.newsfeed-active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
    color: var(--red);
    font-weight: 600;
}
  
.newsfeed-active-tabs::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: var(--red);
}
  
.newsfeed-content-tabs {
    flex-grow : 1;
}

.newsfeed-content {
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 100%;
    height: 100%;
    display: none;
    margin-top: 2rem;
}

.newsfeed-content h2 {
    padding: 0px 0 5px 0px;
}

.newsfeed-content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.newsfeed-content p {
    width: 100%;
}

.newsfeed-active-content {
    display: block;
 }

.newsfeed-active-content {
    display: flex;
    flex-wrap: wrap;
}

.newsfeed-displayedItems {
    width: 8rem;
    height: 8rem;
    margin-right: 2rem;
}
