.posts-container {
    margin-top: 3em;
    padding-bottom: 3rem;
}

.post-types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.post-types h1 {
    color: var(--dark-grey);
    cursor: pointer;
    padding-bottom: 3px;
    margin-bottom: 1em;
}

.post-types h1:first-child {
    color: var(--navy);
    border-bottom: 4px solid var(--navy);
}

.post-section {
    display: flex;
    flex-direction: row;
    background-color: var(--light-grey);
    border-radius: 10px;
}

.vote-section {
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DDE2E5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 1em;
}

.vote-total {
    font-family: var(--heading-font);
    padding: 10px 0;
    font-weight: 600;
    color: var(--navy);
}

.content-section {
    width: 92%;
    padding: 1em 1.5em 0 1.5em;
    padding-bottom: 1rem;
}

.content-section-header, .icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--heading-font);
}

.icon, .icon label {
    cursor: pointer;
}

.username  {
    padding: 0 1.5rem 0 0.5rem;
    color: var(--navy);
    font-weight: 600;
}

.username:hover {
    text-decoration: underline;
}


.uploaded-time {
    color: var(--dark-grey);
}

.post-content {
    font-family: var(--body-font);
    padding-top: 0.5em;
    text-align: justify;
}

.content-section-footer {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

.icon-label {
    padding: 0 1.5rem 0 0.5rem;
    color: var(--darker-grey);
}
