.leave-btn,
.edit-btn,
.join-btn,
.createEvent-btn {
    width: 100%;
    border: none;
    margin-bottom: 1em;
    height: 3em;
    border-radius: 10px;
    font-family: var(--body-font);
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.createEvent-btn {
    background-color: var(--background);
    border: 3px solid var(--red);
    color: var(--red);
}

.edit-btn {
    background-color: var(--background);
    border: 3px solid var(--navy);
    color: var(--navy);
}

.leave-btn {
    background-color: var(--background);
    border: 3px solid var(--darker-grey);
    color: var(--darker-grey);
}

.join-btn {
    background-color: var(--background);
    border: 3px solid var(--yellow);
    color: var(--yellow);
}

.createEvent-btn:hover {
    background-color: var(--red);
    color: var(--white);
}

.edit-btn:hover {
    background-color: var(--navy);
    color: var(--white);
}

.leave-btn:hover {
    background-color: var(--darker-grey);
    color: var(--white);
}

.join-btn:hover {
    background-color: var(--yellow);
    color: var(--darker-grey);
}