.leave-btn,
.editCommunity-btn,
.createEvent-btn,
.redeemed-btn,
.redeem-btn {
    width: 100%;
    border: none;
    margin-bottom: 1em;
    height: 3em;
    border-radius: 10px;
    font-family: var(--body-font);
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.edit-btn,
.delete-btn {
    margin: auto;
    width: 40%;
    border: none;
    height: 2.5em;
    border-radius: 10px;
    font-family: var(--body-font);
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.edit-btn {
    background-color: #1AD222;
    border: none;
    color: var(--white);
}

.delete-btn {
    background-color: var(--red);
    border: none;
    color: var(--white);
}

.createEvent-btn {
    background-color: var(--background);
    border: 3px solid var(--red);
    color: var(--red);
}

.editCommunity-btn {
    background-color: var(--background);
    border: 3px solid var(--navy);
    color: var(--navy);
}

.leave-btn {
    background-color: var(--background);
    border: 3px solid var(--darker-grey);
    color: var(--darker-grey);
}

.createEvent-btn:hover {
    background-color: var(--red);
    color: var(--white);
}

.editCommunity-btn:hover {
    background-color: var(--navy);
    color: var(--white);
}

.leave-btn:hover {
    background-color: var(--darker-grey);
    color: var(--white);
}

.redeemed-btn {
    background-color: #1AD222;
    color: var(--white);
    cursor:default;
    width: 100%;
}

.redeem-btn {
    background-color: var(--dark-grey);
    color: var(--white);
    width: 100%;
}

.redeem-btn:hover {
    background-color: #1AD222;
}