:root {
    /* Fonts */
    --heading-font: "Helvetica";
    --body-font: "Arial";

    /* RTown color palette */
    --navy: #000054;
    --red: #E4052A;
    --lighter-grey: #F8F9FA;
    --light-grey: #ccc;
    --grey: #DDE2E5;
    --dark-grey: #afaeae;
    --darker-grey: #545454;
    --white: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--navy);
    color: var(--white);
    font-family: var(--heading-font);
    z-index:10;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 3rem;
}

.logo-container .logo {
    width: 3rem;
}

.logo-container a {
    all: unset;
    cursor: pointer;
    display: flex;
    font-size: 25px;
    padding-right: 0.5rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.search-bar-section {
    width: 70%;
    margin-left: 1rem;
}

.search-bar  {
    display: flex;
    align-items: center;   
}

.search-bar input {
    width: 35%;
    padding: 0.5rem;
    border: 1px solid var(--white);
    border-radius: 5px;
    outline: none;
}

.search-bar input::placeholder {
    color: var(--dark-grey);
    font-weight: 500;
    font-size: 14px;
}

.search-icon {
    margin-left: 1rem;
    cursor: pointer;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 3rem;
}

.icon-chat,
.icon-user,
.icon-shop {
    cursor: pointer;
    padding: 0 0.5em;
}

.search-icon:hover,
.icon-chat:hover,
.icon-user:hover,
.icon-shop:hover {
    transform: scale(1);
}

.logout-btn {
    all: unset;
    border-radius: 5px;
    padding: 0.8em 1.5em;
    margin-left: 1em;
    background: var(--red);
    color: #fff;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-btn:hover {
    transform: scale(1);
}








