.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.text-center {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
}