:root {
    /* Fonts */
    --heading-font: "Helvetica";
    --body-font: "Arial";

    /* RTown color palette */
    --navy: #000054;
    --red: #E4052A;
    --light-grey: #F8F9FA;
    --grey: #DDE2E5;
    --dark-grey: #C2C2C2;
    --darker-grey: #545454;
    --white: #ffffff;
}
