:root {
    /* Fonts */
    --heading-font: "Helvetica";
    --body-font: "Arial";

    /* RTown color palette */
    --navy: #000054;
    --red: #E4052A;
    --lighter-grey: #F8F9FA; ;
    --light-grey: #F4F5F6;
    --grey: #DDE2E5;
    --dark-grey: #c0bfbf;
    --darker-grey: #676767;
    --white: #FFFFFF;
}
